<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Delete Contact | Contacts</title>
    </head>
    <body>
        <header>

            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('new_contact') }}">Add</a> |
            <a href="{{ url_for('delete_contact') }}">Delete</a> |
            <a href="{{ url_for('import_export') }}">Export / Import</a>
            
        </header>
        <main>

            <h1>DELETE CONTACT</h1>

            <form method="POST" onSubmit="return confirm('Do you want to submit?') ">

                Select a contact:
                <br>

                <select name="dropdownbox" style="width: 150px">
                    <option value="-">-</option>
                    {% for i in all_contacts %}
                        <option value={{i.0}}>{{ i.0 }} {{ i.1 }}</option>
                    {% endfor %}

                </select>

                <br><br>

                <button type="submit">Delete Contact</button>

            </form>
        
        </main>
        <footer>           

            <!-- Social Media Links -->
            
            <section>
                <a href="https://instagram.com/kelvgooding" target="_blank"><img src="../static/img/instagram-logo.png" class="img-logo-social"/></a>
                <a href="https://www.linkedin.com/in/kelvingooding/" target="_blank"><img src="../static/img/linkedin-logo.png" class="img-logo-social"/></a>
                <a href="https://github.com/kelvgooding/" target="_blank"><img src="../static/img/github-logo.png" class="img-logo-social"/></a>
                <a href="mailto:livelifeautomate@gmail.com?subject=Contacts - Feedback/Request"><img src="../static/img/mail-logo.png" class="img-logo-social"/></a>
            </section>

            <br>

            <!-- Copyright -->

            <section>
                Created by Kelv Gooding | 2023<br>
            </section>

        </footer>
    </body>
</html>
