<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Import / Export | Contacts</title>
    </head>
    <body>
        <header>

            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('new_contact') }}">Add</a> |
            <a href="{{ url_for('delete_contact') }}">Delete</a> |
            <a href="{{ url_for('import_export') }}">Export / Import</a>
            
        </header>
        <main>

            <form method="POST">

                <h1>EXPORT</h1>

                Use the Export button to export all contacts.<br><br>

                <button type="submit" name="export_btn">Export</button><br>

                <h1>IMPORT</h1>

                Use the Import button to import contact data.<br><br>

                <button type="submit" name="import_btn">Import</button>

            </form>

            <br>

            <h1>{{ get_flashed_messages().0 }}</h1>
        
        </main>
    </body>
</html>
