<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Import / Export | Contacts</title>
    </head>
    <body>
        <header>

            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('new_contact') }}">New Contact</a> |
            <a href="{{ url_for('delete_contact') }}">Delete Contact</a> |
            <a href="{{ url_for('import_export') }}">Export & Import</a>
            <hr>

        </header>
        <main>

            <form method="POST">

                <h1>EXPORT</h1>

                Use the Export button to export all contacts.<br><br>

                <button type="submit" name="export_btn">Export</button><br>

                <h1>IMPORT</h1>

                Use the Import button to import contact data.<br><br>

                <button type="submit" name="import_btn">Import</button>

            </form>

            <br>

            <h1>{{ get_flashed_messages().0 }}</h1>
        
        </main>
        <footer>           

            <!-- Social Media Links -->

            <br><hr><br>
            
            <section>
                <a href="http://192.168.1.163:3000" target="_blank"><img src="../static/img/web-logo.png" class="img-logo-social"/></a>
                <a href="https://instagram.com/kelvgooding" target="_blank"><img src="../static/img/instagram-logo.png" class="img-logo-social"/></a>
                <a href="https://www.linkedin.com/in/kelvingooding/" target="_blank"><img src="../static/img/linkedin-logo.png" class="img-logo-social"/></a>
                <a href="https://github.com/kelvgooding/" target="_blank"><img src="../static/img/github-logo.png" class="img-logo-social"/></a>
                <a href="mailto:livelifeautomate@gmail.com?subject=Contacts - Feedback/Request"><img src="../static/img/mail-logo.png" class="img-logo-social"/></a>
            </section>

            <br>

            <!-- Copyright -->
            <section>
                Created by Kelv Gooding<br>
                © 2023 Live.Life.Automate! All rights reserved.<br>
            </section>

        </footer>
    </body>
</html>
