<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/javascript/searchbar_filter.js"></script>
        <title>Home | Contacts</title>
    </head>

    <body>
        <header>

            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('new_contact') }}">Add</a> |
            <a href="{{ url_for('delete_contact') }}">Delete</a> |
            <a href="{{ url_for('import_export') }}">Export / Import</a>
            
        </header>
        <main>
            
            <img src="../static/img/logo.png" class="img-logo"/>

            <br>

            <input id="searchbar" onkeyup="search_participants()" type="text" name="search" placeholder="SEARCH HERE" class="contacts-searchbar">
            <h2>FILTER</h2>

            <p>SELECT A CATEGORY:</p>

            <form method="POST">
            
            <select name="dropdownbox" style="width: 150px">
                <option value="-">-</option>
                <option value="Family">Family</option>
                <option value="Friends">Friends</option>
                <option value="Neighbours">Neighbours</option>
                <option value="Work">Work</option>
                <option value="Company">Company</option>
                <option value="Other">Other</option>
                <option value="Archived">Archived</option>
            </select>

            <br><br>

            <button type="submit">Apply Filter</button><br><br>
            
            {{ contacts_count.0.0 }} contacts have been filtered.

        {% for a in contacts_data %}
        <div class="contacts-row">
            <div class="picks-cards">
                <h2>{{ a.0 }} {{ a.1 }}</h2>             
                {{ a.2 }}<br>
                {{ a.3 }}<br>
                <hr>
                {{ a.4 }}, {{ a.5 }}, {{ a.6 }}
                <div class="group-banner">{{ a.10 }}</div>
                <a href="https://instagram.com/{{ a.9 }}" target="_blank"><img src="../static/img/instagram-logo.png" class="img-logo-social"/></a>
            </div>
        </div>
        {% endfor %}

        </main>

        <footer>           

            <!-- Social Media Links -->
            
            <section>
                <a href="https://instagram.com/kelvgooding" target="_blank"><img src="../static/img/instagram-logo.png" class="img-logo-social"/></a>
                <a href="https://www.linkedin.com/in/kelvingooding/" target="_blank"><img src="../static/img/linkedin-logo.png" class="img-logo-social"/></a>
                <a href="https://github.com/kelvgooding/" target="_blank"><img src="../static/img/github-logo.png" class="img-logo-social"/></a>
                <a href="mailto:livelifeautomate@gmail.com?subject=Contacts - Feedback/Request"><img src="../static/img/mail-logo.png" class="img-logo-social"/></a>
            </section>

            <br>

            <!-- Copyright -->

            <section>
                Created by Kelv Gooding | 2023<br>
            </section>

        </footer>
    </body>

</html>
