<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/javascript/searchbar_filter.js"></script>
        <script src="../static/javascript/dropdown_apply.js"></script>
        <title>Home | Contacts</title>
    </head>
    
    <body>
        <header>
            <a href="{{ url_for('index') }}">
                <img src="../static/img/logo.png" class="img-logo"/>
            </a>
            <div class="contacts-searchbar-container">
                <input id="searchbar" onkeyup="search_participants()" type="text" name="search" class="contacts-searchbar">
            </div>
        </header>
        
        <main>
            <br>
            <div class="header-container">
                <div class="button-container">
                    <a href="{{ url_for('new_contact') }}" class="btn btn-add">Add</a>
                    <a href="{{ url_for('delete_contact') }}" class="btn btn-delete">Delete</a>
                </div>
            </div>
        
            <form id="dropdownForm" method="POST" action="{{ url_for('index') }}">
                <div class="form-group">
                    <label for="dropdown">CATEGORY</label>
                    <select name="category" id="dropdown" onchange="submitDropdownForm()">
                        <option value="-">-</option>
                        <option value="Family">Family</option>
                        <option value="Friends">Friends</option>
                        <option value="Neighbours">Neighbours</option>
                        <option value="Work">Work</option>
                        <option value="Company">Company</option>
                        <option value="Other">Other</option>
                        <option value="Archived">Archived</option>
                    </select>
                </div>
            </form>
           
            <h3>Category: {{ category_name }}</h3>
            <p>{{ contacts_count.0.0 }} Contact(s) found:</p>

            {% for a in contacts_data %}
            <div class="contacts-row">
                <div class="picks-cards">
                    <h2 class="contact-name">{{ a.0 }} {{ a.1 }}</h2> 
                    <div class="contact-info">
                        <p>{{ a.2 }}</p>
                    </div>
                    <hr>
                    <div class="contact-details">
                        <p><strong>Mailbox:</strong> {{ a.3 }}</p>
                        <p><strong>Address:</strong> {{ a.4 }}</p>
                        <p><strong>City/Town:</strong> {{ a.5 }}</p>
                        <p><strong>Postcode:</strong> {{ a.6 }}</p>
                    </div>
                    <a href="https://instagram.com/{{ a.9 }}" target="_blank" class="social-link">
                        <img src="../static/img/instagram-logo.png" class="img-logo-social"/>
                    </a>
                </div>
            </div>
            {% endfor %}
        </main>
    </body>
</html>
