<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Home | Contacts</title>
    </head>
    <body>
        <header>

            <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('new_contact') }}">New Contact</a> | <a href="{{ url_for('delete_contact') }}">Delete Contact</a>
            <hr>
            
        </header>
        <main>

            Filter
            
            <form method="POST">
            
            <select name="dropdownbox" style="width: 150px">
                <option value="-">-</option>
                <option value="Family">Family</option>
                <option value="Friends">Friends</option>
                <option value="Neighbours">Neighbours</option>
                <option value="Work">Work</option>
                <option value="Other">Other</option>
                <option value="Archived">Archived</option>
            </select>

            <br><br>

            <button type="submit">Apply Filter</button>

            <br>
            <br>

            <table>
                <tr>
                {% for header in headings %}
                    <th> {{ header }} </th>
                {% endfor %}
                </tr>
                {% for row in contacts_data %}
                <tr>
                    {% for cell in row %}
                    <td> {{ cell }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form>

        </main>
        <footer>
        </footer>
    </body>
</html>
